body {
	background-color: #ccc;
}

.title {

}

li.active a {
	background: grey;
}

.main {
	background: white;
	border: black 3px solid;
	border-radius: 5px;
	padding: 0px;
	min-height: 300px;
}

.tab-pane {
	padding-left: 16px;
	padding-right: 16px;
}