.intro-text {
	text-shadow: 0px 0px 2px black;
}

.project-li {
	margin: 0px 20px 20px 20px;
}

.project-link {
	margin-top: 2px;
}

.project-title {
	margin-bottom: 5px;
}

.screenshot {
	border-radius: 6px;
	display: block;
	margin: 0 auto;
}