.alert {
	background: #ffb640;
	bottom: 30px;
	display: none;
	font-weight: bold;
	left: 151px;
	padding: 15px;
	position: absolute;
}

body {
	background: #f5f5f5;
	color: #565a5c;
	font-family: sans-serif;
}

.alert, .button, #content, .pane {
	border: 2px solid grey;
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.button {
	background: #f5f5f5;
	margin-left: 10px;
}

.button:active {
	transform: translate(1px, 1px);
	box-shadow: 0px 0px 0px
}

.pane {
	background: #ccdeed;
	position: relative;
	padding: 1em;
}

* + .pane {
	margin-top: 1em;
}

.contact-form input {
	margin-top: .5em;
}

#content {
	background: #96c6d9;
	margin: 50px auto 0;
	padding: 1em;
	width: 431px;
}

h3 {
	display: inline-block;
	margin: 0 0 .25em 0;
	text-align: center;
}

input {
	border-radius: 5px;
	outline: none;
}

label {
	display: block;
	margin-bottom: .25em;
}

label, span {
	font-size: .85em;
}

* + label {
	margin-top: 0.5em;
}

meter {
	display: inline-block;
	width: 360px;
}

.new-top-violation {
	background-color: #ffb640;
	border-radius: 5px;
	transition: background-color 1s;
}

.screen {
	background-color: rgba(200,200,200,0.5);
	display: none;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}

#slider {
	margin: 0px;
	width: 360px;
}

.slider-value {
	position: relative;
	top: -3px;
}

span {
	margin-left: 10px;
}

table {
	margin: 0.5em auto;
	border-collapse: collapse;
	transition: background-color 1s;
}

.table {
	text-align: center;
}

tbody tr + tr {
	border-top: 2px dotted grey;
}

thead {
	border-bottom: 2px solid grey;
}

td {
	padding: 0.5em;
	text-align: center;
	width: 100px;
}

td + td {
	border-left: 2px solid grey;
}