body {
	font-family: sans-serif;
}

#content {
	border: 2px solid grey;
	border-radius: 5px;
	margin: 50px auto 0;
	padding: 10px;
	width: 400px;
}

.form {
	display: block;
}

meter {
	display: inline-block;
	width: 360px;
}