body {
	background-image: 
		linear-gradient(
			#434fbc, #ccc
		);
	font-family: sans-serif;
}

.main {
	background: #ccc;
	border: 3px black solid;
	border-radius: 10px;
	margin-top: 12%;
	margin-left: auto;
	margin-right: auto;
	min-height: 400px;
	width: 600px;
}

.name {
	top: -20px;
}